<div *ngIf="model && !report">
  <div nz-row nzJustify="space-between">
    <div nz-col nz-span="4">
      <p>Customize your form by drag and drop below fields to the form area.</p>
      <!--a draggable element-->
      <div class="fields" *ngFor="let item of fieldModels">
        <div class="field pointer shadow-bg" [dndDraggable]="item" [dndEffectAllowed]="'copy'"
          (dndEnd)="onDragEnd($event)">
          <i [ngClass]="item.icon" class="fa pull-left"></i>
          <h5>{{item.label}}</h5>
        </div>
      </div>

    </div>
    <div nz-col nz-span="20">
      <form nz-form style="width: 50vw;" [style.backgroundColor]="model.theme.bgColor"
        [style.color]="model.theme.textColor">
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="name">Form Name</nz-form-label>
          <nz-form-control [nzSpan]="14" [nzOffset]="6">
            <input nz-input name="formName" type="text" [(ngModel)]="model.name" [ngModelOptions]="{standalone: true}"/>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="description">Description</nz-form-label>
          <nz-form-control [nzSpan]="14" [nzOffset]="6">
            <input nz-input type="text" [(ngModel)]="model.description" name="description" [ngModelOptions]="{standalone: true}"/>
          </nz-form-control>
        </nz-form-item>
      </form>

      <!--a dropzone-->
      <!--to allow dropping content that is not [dndDraggable] set dndAllowExternal to true-->
      <section dndDropzone (dndDragover)="onDragover($event)" (dndDrop)="onDrop($event,model.attributes)"
        class="dndDropArea" [ngClass]="{'empty':model.attributes.length == 0}"
        [style.backgroundColor]="model.theme.bgColor" [style.color]="model.theme.textColor">

        <div class="field" *ngFor="let item of model.attributes;let i= index;" (dndStart)="onDragStart($event)"
          (dndCanceled)="onDragCanceled($event)" (dndMoved)="onDragged(item, model.attributes, 'move')"
          [dndEffectAllowed]="'all'" [dndDraggable]="item">
          <div nz-row>
            <!-- <div nz-col nzSpan="2"><i class="fa fa-ellipsis-v dndHandle" dndHandle></i></div> -->
            <div nz-col nzSpan="14">
              <!-- <i [ngClass]="item.icon" class="fa pull-left"></i>
            <h5>{{item.label}}
            <span *ngIf="item.required" class="red">*</span></h5> -->
              <div *ngIf="item.type=='text'">
                <label>{{item.label}}</label> <label *ngIf="item.required" class="text-danger">*</label>
                <input nz-input type="text" id="{{item.name}}" placeholder="{{item.placeholder}}">
              </div>
              <div *ngIf="item.type=='email'">
                <label>{{item.label}}</label> <label *ngIf="item.required" class="text-danger">*</label>
                <input nz-input type="email" id="{{item.name}}" placeholder="{{item.placeholder}}">
              </div>
              <div *ngIf="item.type=='phone'">
                <label>{{item.label}}</label> <label *ngIf="item.required" class="text-danger">*</label>
                <input nz-input type="text" id="{{item.name}}" placeholder="{{item.placeholder}}">
              </div>
              <div *ngIf="item.type=='number'">
                <label>{{item.label}}</label> <label *ngIf="item.required" class="text-danger">*</label>
                <input nz-input type="number" id="{{item.name}}" min="{{item.min}}" max="{{item.max}}"
                  placeholder="{{item.placeholder}}">
              </div>
              <div *ngIf="item.type=='date'">
                <label>{{item.label}}</label> <label *ngIf="item.required" class="text-danger">*</label>
                <input nz-input type="date" id="{{item.name}}" placeholder="{{item.placeholder}}">
              </div>
              <div *ngIf="item.type=='datetime-local'">
                <label>{{item.label}}</label> <label *ngIf="item.required" class="text-danger">*</label>
                <input nz-input type="datetime-local" id="{{item.name}}" placeholder="{{item.placeholder}}">
              </div>
              <div *ngIf="item.type=='textarea'">
                <label>{{item.label}}</label> <label *ngIf="item.required" class="text-danger">*</label>
                <textarea id="{{item.name}}" placeholder="{{item.placeholder}}">
                      </textarea>
              </div>
              <div *ngIf="item.type=='file'">
                <label>{{item.label}} (File can't be uploaded right now)</label> <label *ngIf="item.required"
                  class="text-danger">*</label>
                <input nz-input type="file" id="{{item.name}}" placeholder="{{item.placeholder}}">
                <small class="form-text text-danger">(File can't be uploaded right now)</small>
              </div>
              <div *ngIf="item.type=='paragraph'">
                <p class="form-text">{{item.placeholder}}</p>
              </div>
              <div *ngIf="item.type=='autocomplete'">
                <label>{{item.label}}</label> <label *ngIf="item.required" class="text-danger">*</label>
                <select id="{{item.name}}">
                  <option *ngFor="let v of item.values" [value]="v.value">{{v.label}}</option>
                </select>
                <!-- <small class="form-text text-muted">{{item.description}}</small> -->
              </div>
              <div *ngIf="item.type=='checkbox'">
                <label>{{item.label}}</label> <label *ngIf="item.required" class="text-danger">*</label>
                <div *ngFor="let v of item.values">
                  <nz-form-item>
                    <nz-form-control [nzSpan]="14" [nzOffset]="6" [nzSpan]="14" [nzOffset]="6">
                      <label nz-checkbox [(ngModel)]="v.name" [nzValue]="v.value" [ngModelOptions]="{standalone: true}">
                        <span>{{v.label}}</span>
                      </label>
                    </nz-form-control>
                  </nz-form-item>
                </div>
              </div>
              <div *ngIf="item.type=='radio'">
                <label>{{item.label}}</label> <label *ngIf="item.required" class="text-danger">*</label>
                <div *ngFor="let v of item.values">
                  <label class="cust-check-bx">
                    <input nz-input type="radio" [value]="v.value" name="{{item.name}}"> {{v.label}}
                    <span class="checkmark"></span>
                  </label>
                </div>
              </div>
              <div *ngIf="item.type=='button'" class="btn-cont">
                <input nz-input type="{{item.subtype}}" (click)="submit()" value="{{item.label}}"
                  class="btn btn-primary" id="{{item.name}}">
              </div>
            </div>
            <div nz-col nzSpan="8">
              <i nz-icon nzType="up-circle" nzTheme="outline" *ngIf="item.toggle" (click)="item.toggle=false"></i>
              <i *ngIf="!item.toggle" (click)="item.toggle=true" nz-icon nzType="down-circle" nzTheme="outline"></i>
              <i (click)="removeField(i)" class="fa fa-trash pull-right"></i>
            </div>
          </div>
          <form nz-form *ngIf="item.toggle" style="padding: 15px; background: #d6d6d629;">
            <div class="form-group">
              <label>Required</label>
              <nz-switch [(ngModel)]="item.required" [ngModelOptions]="{standalone: true}"></nz-switch>
              <span class="pull-right ucfirst">{{item.type}}</span>
            </div>
            <nz-form-item>
              <nz-form-label [nzSm]="6" [nzXs]="24">Label</nz-form-label>
              <nz-form-control [nzSpan]="14" [nzOffset]="6"><input nz-input type="text" [(ngModel)]="item.label" [ngModelOptions]="{standalone: true}"/>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-label [nzSm]="6" [nzXs]="24">Name</nz-form-label>
              <nz-form-control [nzSpan]="14" [nzOffset]="6"><input nz-input type="text" [(ngModel)]="item.name" [ngModelOptions]="{standalone: true}" />
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-label [nzSm]="6" [nzXs]="24">Placeholder</nz-form-label>
              <nz-form-control [nzSpan]="14" [nzOffset]="6"><input nz-input type="text"
                  [(ngModel)]="item.placeholder" [ngModelOptions]="{standalone: true}" />
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-label [nzSm]="6" [nzXs]="24">Regex</nz-form-label>
              <nz-form-control [nzSpan]="14" [nzOffset]="6"><input nz-input type="text" [(ngModel)]="item.regex" [ngModelOptions]="{standalone: true}"/>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item *ngIf="item.regex">
              <nz-form-label [nzSm]="6" [nzXs]="24">Error text</nz-form-label>
              <nz-form-control [nzSpan]="14" [nzOffset]="6"><input nz-input type="text" [(ngModel)]="item.errorText" [ngModelOptions]="{standalone: true}"/>
              </nz-form-control>
            </nz-form-item>

            <!-- number -->
            <div *ngIf="item.type=='number'" nz-row>
              <div nz-col nzSpan="6">
                <nz-form-item>
                  <nz-form-label [nzSm]="6" [nzXs]="24">Min</nz-form-label>
                  <nz-form-control [nzSpan]="14" [nzOffset]="6"><input nz-input type="text" [(ngModel)]="item.min" [ngModelOptions]="{standalone: true}"/>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col nzSpan="6">
                <nz-form-item>
                  <nz-form-label [nzSm]="6" [nzXs]="24">Max</nz-form-label>
                  <nz-form-control [nzSpan]="14" [nzOffset]="6"><input nz-input type="text" [(ngModel)]="item.max" [ngModelOptions]="{standalone: true}"/>
                  </nz-form-control>
                </nz-form-item>
              </div>
            </div>

            <!-- radio || checkbox || autocomplete -->
            <div *ngIf="item.type=='radio'|| item.type=='checkbox' || item.type=='autocomplete'">
              <div nz-row>
                <div nz-col nzSpan="10">
                  <nz-form-item>
                    <label>Label</label>
                  </nz-form-item>
                </div>
                <div nz-col nzSpan="10">
                  <nz-form-item>
                    <label>Value</label>
                  </nz-form-item>
                </div>
                <div nz-col nzSpan="4">
                  <nz-form-item>
                    <label>Action</label>
                  </nz-form-item>
                </div>
              </div>
              <div *ngFor="let i of item.values; let valueIndex=index;" class="row">
                <div nz-col nzSpan="10">
                  <nz-form-item>
                    <nz-form-control [nzSpan]="14" [nzOffset]="6">
                      <input nz-input type="text" [(ngModel)]="i.label" [ngModelOptions]="{standalone: true}"/>
                    </nz-form-control>
                  </nz-form-item>
                </div>
                <div nz-col nzSpan="10">
                  <nz-form-item>
                    <nz-form-control [nzSpan]="14" [nzOffset]="6">
                      <input nz-input type="text" [(ngModel)]="i.value" [ngModelOptions]="{standalone: true}"/>
                    </nz-form-control>
                  </nz-form-item>
                </div>
                <div class="col-2">
                  <nz-form-item>
                    <label (click)="item.values.splice(valueIndex,1)">remove</label>
                  </nz-form-item>
                </div>
              </div>
              <div class="row">
                <div nz-col nzSpan="10">
                  <nz-form-item>
                    <nz-form-control [nzSpan]="14" [nzOffset]="6">
                      <input nz-input type="text" [(ngModel)]="value.label" [ngModelOptions]="{standalone: true}"/>
                    </nz-form-control>
                  </nz-form-item>
                </div>
                <div nz-col nzSpan="10">
                  <nz-form-item>
                    <nz-form-control [nzSpan]="14" [nzOffset]="6">
                      <input nz-input type="text" [(ngModel)]="value.value" [ngModelOptions]="{standalone: true}"/>
                    </nz-form-control>
                  </nz-form-item>
                </div>
                <div class="col-2">
                  <nz-form-item>
                    <label (click)="addValue(item.values)">Add</label>
                  </nz-form-item>
                </div>
              </div>
            </div>
          </form>
        </div>
        <!--optional placeholder element for dropzone-->
        <!--will be removed from DOM on init-->
        <div class="dndPlaceholder" dndPlaceholderRef>
        </div>
      </section>

    </div>
  </div>
</div>

<div *ngIf="report" class="padding20 white-bg">
  <div class="row">
    <div class="col-12 btn-cont">
      <button (click)="report=false" class="btn btn-primary">
        << Back</button>
    </div>
    <div class="col-12 spacer30"></div>
    <!-- if records found -->
    <div *ngIf="reports?.length > 0" class="col-12">
      <div *ngFor="let records of reports" class="report-block">
        <div *ngFor="let record of records.attributes">
          <div *ngIf="record.type !='button' && record.type !='paragraph'" class="row">
            <div class="col-4">{{record.label}}</div>
            <div class="col-8">{{record.value}}</div>
          </div>
        </div>
      </div>
      <!-- <pre>{{reports|json}}</pre> -->
    </div>
    <!-- if no records found -->
    <div *ngIf="reports?.length == 0" class="col-12 btn-cont">
      No response found
    </div>

  </div>

</div>

<!-- <pre *ngIf="model">{{model|json}}</pre> -->


<div *ngIf="model" class="container marginT60  marginB30" style="max-width:500px;">
  <div class="row" style="padding:30px;" [style.backgroundColor]="model.theme.bgColor"
    [style.color]="model.theme.textColor">
    <div class="col-12">
      <h2>{{model.name}}</h2>
    </div>
    <div class="col-12">
      <p>{{model.description}}</p>
    </div>
    <div *ngIf="success" class="col-12">
      <div class="form-group">
        <label>Your form has been submitted.</label>
      </div>
    </div>
    <form class="ftheme">
      <div *ngIf="!success" class="col-12">
        <div *ngFor="let item of model.attributes" class="form-group">
          <div *ngIf="item.type=='text'">
            <label>{{item.label}}</label> <label *ngIf="item.required" class="text-danger">*</label>
            <input nz-input type="text" class="form-control" id="{{item.name}}" placeholder="{{item.placeholder}}"
              [(ngModel)]="item.value" [required]="item.required" [ngModelOptions]="{standalone: true}"
              autocomplete="off">
          </div>
          <div *ngIf="item.type=='email'">
            <label>{{item.label}}</label> <label *ngIf="item.required" class="text-danger">*</label>
            <input nz-input type="email" class="form-control" id="{{item.name}}" placeholder="{{item.placeholder}}"
              [(ngModel)]="item.value" [ngModelOptions]="{standalone: true}" autocomplete="off">
          </div>
          <div *ngIf="item.type=='phone'">
            <label>{{item.label}}</label> <label *ngIf="item.required" class="text-danger">*</label>
            <input nz-input type="email" class="form-control" id="{{item.name}}" placeholder="{{item.placeholder}}"
              [(ngModel)]="item.value" [ngModelOptions]="{standalone: true}" autocomplete="off">
          </div>
          <div *ngIf="item.type=='number'">
            <label>{{item.label}}</label> <label *ngIf="item.required" class="text-danger">*</label>
            <input nz-input type="number" class="form-control" id="{{item.name}}" min="{{item.min}}" max="{{item.max}}"
              placeholder="{{item.placeholder}}" [(ngModel)]="item.value" [ngModelOptions]="{standalone: true}"
              autocomplete="off">
          </div>
          <div *ngIf="item.type=='date'">
            <label>{{item.label}}</label> <label *ngIf="item.required" class="text-danger">*</label>
            <input nz-input type="date" class="form-control" id="{{item.name}}" placeholder="{{item.placeholder}}"
              [(ngModel)]="item.value" [ngModelOptions]="{standalone: true}" autocomplete="off">
          </div>
          <div *ngIf="item.type=='datetime-local'">
            <label>{{item.label}}</label> <label *ngIf="item.required" class="text-danger">*</label>
            <input nz-input type="datetime-local" class="form-control" id="{{item.name}}"
              placeholder="{{item.placeholder}}" [(ngModel)]="item.value" [ngModelOptions]="{standalone: true}"
              autocomplete="off">
          </div>
          <div *ngIf="item.type=='textarea'">
            <label>{{item.label}}</label> <label *ngIf="item.required" class="text-danger">*</label>
            <textarea class="form-control" id="{{item.name}}" placeholder="{{item.placeholder}}"
              [(ngModel)]="item.value" [ngModelOptions]="{standalone: true}" autocomplete="off">
          </textarea>
          </div>
          <div *ngIf="item.type=='file'">
            <label>{{item.label}} (File can't be uploaded right now)</label> <label *ngIf="item.required"
              class="text-danger">*</label>
            <input nz-input type="file" class="form-control" id="{{item.name}}" placeholder="{{item.placeholder}}"
              [(ngModel)]="item.value" [ngModelOptions]="{standalone: true}" autocomplete="off">
            <small class="form-text text-danger">(File can't be uploaded right now)</small>
          </div>
          <div *ngIf="item.type=='paragraph'">
            <p class="form-text">{{item.placeholder}}</p>
          </div>
          <div *ngIf="item.type=='autocomplete'">
            <label>{{item.label}}</label> <label *ngIf="item.required" class="text-danger">*</label>
            <select class="form-control" id="{{item.name}}" [(ngModel)]="item.value"
              [ngModelOptions]="{standalone: true}">
              <option *ngFor="let v of item.values" [value]="v.value">{{v.label}}</option>
            </select>
            <!-- <small class="form-text text-muted">{{item.description}}</small> -->
          </div>
          <div *ngIf="item.type=='checkbox'">
            <label>{{item.label}}</label> <label *ngIf="item.required" class="text-danger">*</label>
            <div *ngFor="let v of item.values" class="inline-form-group">
              <label class="cust-check-bx">
                <input nz-input type="checkbox" [value]="v.value" name="{{item.name}}" (click)="toggleValue(v)">
                {{v.label}}
                <span class="checkmark"></span>
              </label>
            </div>
          </div>
          <div *ngIf="item.type=='radio'">
            <label>{{item.label}}</label> <label *ngIf="item.required" class="text-danger">*</label>
            <div *ngFor="let v of item.values" class="inline-form-group">
              <label class="cust-check-bx">
                <input nz-input type="radio" [value]="v.value" name="{{item.name}}" [(ngModel)]="item.value"
                  [ngModelOptions]="{standalone: true}"> {{v.label}}
                <span class="checkmark"></span>
              </label>
            </div>
          </div>
          <div *ngIf="item.type=='button'" class="btn-cont">
            <input nz-input type="{{item.subtype}}" (click)="submit()" value="{{item.label}}" class="btn btn-primary"
              id="{{item.name}}">
          </div>
        </div>

        <p (click)="show=1" class="marginT60 pointer">Show developer data</p>

      </div>
    </form>
  </div>
</div>

<pre *ngIf="show==1 && model">
    {{model|json}}
</pre>